.home{
    padding: 70px;
    height: auto;
    /* background: linear-gradient(to right, rgb(51 43 43 / 72%), rgb(55 41 41 / 73%)); */
    /* cor para test background-color: rgb(140, 84, 243); */
}
/* container das ofertas*/
.container_oferta, .container_vitrine, .container_carrinho{
    display: flex;
    flex-wrap: wrap; /* quando os itens filhos não cabem na mesma linha são automaticamente movidos para a próxima linha */
    border-style: solid;
    border-width: medium;
    min-height: 215px;
    height: auto;
    border-radius: 10px;
    /* background-color: rgba(54, 49, 49, 0.726); */
    background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
    max-height: 435px;
    overflow-y: auto;
    padding: 5px;
    gap: 1.0vw;
}/* fim container das ofertas */



.areas{
    display: grid;
    grid-template-areas: 
    'area area'
    'area2 area2'
    'area3 area3'
    'area4 area4';
    gap: 60px; /* tava 30px : OS 3 ABAIXO NAO TINHA*/
    width: 100%;
    max-width: 1900px;/* não estava aqui antes pode remover se necessário */
    margin: 0 auto;
    
}


#area {
    grid-area: area;
    position: relative;
    margin-top: 20px;

}

#area2 {
    grid-area: area2;
    
}
#area3 {
    grid-area: area3;
    position: relative;
    
}
#area4 {
    grid-area: area4;
    background-color: palegreen;
}
.container_oferta::-webkit-scrollbar,
.container_vitrine::-webkit-scrollbar,
.container_carrinho::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.container_oferta::-webkit-scrollbar-thumb,
.container_vitrine::-webkit-scrollbar-thumb,
.container_carrinho::-webkit-scrollbar-thumb  {
  background-color: darkgray;
  border-radius: 10px; /* Aplica borda arredondada na barra de rolagem */
}

.container_oferta::-webkit-scrollbar-track,
.container_vitrine::-webkit-scrollbar-track,
.container_carrinho::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px; /* Aplica borda arredondada no trilho da barra */
}
/* @media (min-width: 1500px) {
  .container2 {
    width: 100%; /* ou qualquer valor proporcional desejado 
    gap: calc(2vw - 4px);

    
  }
} */