.forms {
    align-items: center;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    flex-direction: column;
    width: 30%;
    height: 35vh;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
    
}
#centro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Garante que ocupe a altura total da página */
}


h1 {
    display : flex;
    justify-content: center;
    margin-top: 0; /* Remove o espaço acima do título */
   }

button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    box-sizing: border-box;
}


body{
    background: linear-gradient(to bottom, 
    rgba(30, 26, 185, 0.2) 25%, 
    rgba(25, 26, 85, 0.3) 50%, 
    rgba(153, 9, 9, 0.4) 100%);
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    width: 100%;
    height: auto;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
}


